{
  "icc": {{ docker_icc | lower }},
  "no-new-privileges": {{ docker_no_new_privileges | lower }},
  "userland-proxy": {{ docker_userland_proxy | lower }},
  "log-driver": "{{ docker_log_driver }}",
  "live-restore": {{ docker_live_restore | lower }}
}
